.todo {
    display: grid;
    grid-template-columns: 50px 1fr 90px 100px;
    justify-content: space-between;
    align-items: normal;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    margin-bottom: 10px;

    select {
        cursor: pointer;
    }

    div{
        display: flex;
        flex-direction: column;
        margin-inline: 10px;
        input[type="text"], textarea{
            width: 100%;
            height: 100%;
        }
        textarea {
            resize: vertical;
        }
    }
}


.todo input[type="checkbox"]{
    scale: 1.3;
    cursor: pointer;
}
.todo button {
    background-color: #f00;
    color: #fff;
    border: none;
    border-radius: 5px;
    // padding: 5px 10px;
    margin-left: 10px;
    cursor: pointer;
}
